<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>questionchecker</servlet-name>
        <servlet-class>controller.questionchecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInformation</servlet-name>
        <servlet-class>controller.UserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChecker</servlet-name>
        <servlet-class>controller.AdminChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChecker</servlet-name>
        <servlet-class>controller.AddChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeque</servlet-name>
        <servlet-class>controller.removeque</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>questionchecker</servlet-name>
        <url-pattern>/questionchecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInformation</servlet-name>
        <url-pattern>/UserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChecker</servlet-name>
        <url-pattern>/AdminChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChecker</servlet-name>
        <url-pattern>/AddChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeque</servlet-name>
        <url-pattern>/removeque</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
